
SECRET_KEY = '{{ zerqu_secret_key }}'

SQLALCHEMY_DATABASE_URI = '{{ zerqu_database_uri }}'
SQLALCHEMY_NATIVE_UNICODE = False

BABEL_DEFAULT_LOCALE = 'zh'
BABEL_LOCALES = ['zh']
GOOGLE_ANALYTICS = 'UA-29729598-1'

SITE_NAME = '{{ zerqu_site_name }}'
SITE_URL = '{{ zerqu_site_url }}'
SITE_CANONICAL_URL = '{{ zerqu_site_seo_url }}'
SITE_DESCRIPTION = '{{ zerqu_site_description }}'
SITE_LOGO = '/apple-touch-icon-152.png'
SITE_TWITTER = 'pythoncn'
SITE_HEADER = '''
<meta name="msvalidate.01" content="0DAEBE9EB79B1E1BC183B60FA52FAAE9">
'''

APP_HEADER = '''
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152.png">
<script src="//dn-python.qbox.me/vendor/bugsnag-2.min.js"
  data-apikey="3957c0776c4e58ccbc72667248ee6158">
</script>
{% for src in zerqu_site_styles %}
<link rel="stylesheet" href="{{ src }}">
{% endfor %}
<script>ZERQU.GA='UA-29729598-1'</script>
'''

APP_FOOTER = '''
{% for src in zerqu_site_scripts %}
<script src="{{ src }}" crossorigin="anonymous"></script>
{% endfor %}
'''

APP_LOGINS = ['google']

# async mode
ZERQU_ASYNC = True

# avatar base domain
ZERQU_AVATAR_BASE = '//dn-python.qbox.me/'

# 5 days
ZERQU_VALID_MODIFY_TIME = 432000

GOOGLE_CONSUMER_KEY = '{{ google_consumer_key }}'
GOOGLE_CONSUMER_SECRET = '{{ google_consumer_secret }}'

# TWITTER_CONSUMER_KEY = ''
# TWITTER_CONSUMER_SECRET = ''

# GITHUB_CONSUMER_KEY = ''
# GITHUB_CONSUMER_SECRET = ''

QINIU_ACCESS_KEY = '{{ qiniu_access_key }}'
QINIU_SECRET_KEY = '{{ qiniu_secret_key }}'
QINIU_BUCKET = 'python'
QINIU_PREFIX = 'images'
QINIU_BASE_URL = 'https://dn-python.qbox.me/'

#: email settings
MAIL_SERVER = 'smtp.gmail.com'
MAIL_USE_SSL = False
MAIL_USE_TLS = True
MAIL_USERNAME = 'noreply@python-china.org'
MAIL_PASSWORD = '{{ zerqu_mail_password }}'
MAIL_DEFAULT_SENDER = ('Python China', 'noreply@python-china.org')

SENTRY_DSN = "{{ sentry_dsn }}"
