
SECRET_KEY = '{{ zerqu_secret_key }}'

SQLALCHEMY_DATABASE_URI = '{{ zerqu_database_uri }}'
SQLALCHEMY_NATIVE_UNICODE = False

SITE_NAME = '{{ zerqu_site_name }}'
SITE_DESCRIPTION = '{{ zerqu_site_description }}'
SITE_HEADER = '''
{% for src in zerqu_site_styles %}
<link rel="stylesheet" href="{{ src }}">
{% endfor %}
<script>ZERQU.GA='UA-29729598-1'</script>
'''
SITE_FOOTER = '''
{% for src in zerqu_site_scripts %}
<script src="{{ src }}"></script>
{% endfor %}
'''

SITE_LOGINS = ['google']

GOOGLE_CONSUMER_KEY = '{{ google_consumer_key }}'
GOOGLE_CONSUMER_SECRET = '{{ google_consumer_secret }}'

# TWITTER_CONSUMER_KEY = ''
# TWITTER_CONSUMER_SECRET = ''

# GITHUB_CONSUMER_KEY = ''
# GITHUB_CONSUMER_SECRET = ''

#: email settings
MAIL_SERVER = 'smtp.gmail.com'
MAIL_USE_SSL = True
MAIL_USE_TLS = False
MAIL_USERNAME = 'noreply@python-china.org'
MAIL_PASSWORD = '{{ zerqu_mail_password }}'
MAIL_DEFAULT_SENDER = ('Python China', 'noreply@python-china.org')

SENTRY_DSN = "{{ sentry_dsn }}"
