---
- hosts: all
  sudo: yes
  # gather_facts: no

  roles:
    - Stouts.redis
    - Stouts.nginx
    - Stouts.python
    - Stouts.supervisor
    - ANXS.postgresql
    - zerqu

  vars:
    python_ppa: "ppa:fkrull/deadsnakes-python2.7"
    python_versions: [2.7]
    python_virtualenvs:
      - path: /var/zerqu/venv
    postgresql_ext_install_dev_headers: yes

    postgresql_databases:
      - name: pythonchina

    zerqu_site_name: Python China
    zerqu_site_styles:
      - //dn-python.qbox.me/qingcheng/20160116.vendor.7e4de9.css
      - //dn-python.qbox.me/qingcheng/20160116.app.69ac49.css
    zerqu_site_scripts:
      - //dn-python.qbox.me/qingcheng/20160116.vendor.2b287e.js
      - //dn-python.qbox.me/qingcheng/20160116.app.a2e838.js
