---
- hosts: all
  sudo: yes
  # gather_facts: no

  roles:
    - Stouts.redis
    - Stouts.memcached
    - Stouts.nginx
    - Stouts.python
    - Stouts.supervisor
    - ANXS.postgresql
    - zerqu

  vars:
    memcached_memory_limit: 100
    python_ppa: "ppa:fkrull/deadsnakes-python2.7"
    python_versions: [2.7]
    python_virtualenvs:
      - path: /var/zerqu/venv
    postgresql_ext_install_dev_headers: yes

    postgresql_databases:
      - name: pythonchina

    zerqu_site_name: Python China
    zerqu_site_styles:
      - //dn-python.qbox.me/qingcheng/20150814.e287ca.css
    zerqu_site_scripts:
      - //dn-python.qbox.me/qingcheng/20150814.474d9b.js
