---

- name: Install zerqu dependencies
  pip:
    requirements: "{{ zerqu_source }}/requirements.txt"
    virtualenv: "{{ zerqu_virtualenv }}"


- name: Install gunicorn and setproctitle
  pip:
    name: "{{ item }}"
    virtualenv: "{{ zerqu_virtualenv }}"
  with_items:
    - "gunicorn==19.3.0"
    - "setproctitle==1.1.8"
    - "raven==5.5.0"
    - "newrelic==2.54.0.41"
    - "gevent==1.0.2"

- name: Copy public files
  copy: src={{ item }} dest={{ zerqu_public_dir }}/
  with_fileglob:
    - public/*.png
    - public/*.ico
    - public/*.txt
